

  /*
    DEMO STYLE
*/


a,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 10px;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #1d2023;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #1d2023;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    text-decoration: none;
    display: block;
}

#sidebar ul li a:hover {
    color: #ffffff;
    background: #ff4b4b;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #ffffff;
    background: #ff4b4b;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: 0;
    }
    #sidebar.active {
        margin-left: -250px;
    }
    #sidebarCollapse span {
        display: none;
    }
}






.main {
    width: 50%;
    margin: 50px auto;
}

/* Bootstrap 4 text input with search icon */

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}



h1,h2,h3,h4,h5,h6 {
    /*font-family:  Montserrat, sans-serif;*/
    font-family: 'Playfair Display', serif;
    font-weight: 700;

  }
  body, footer {
    /*font-family: 'News Cycle',sans-serif;*/
    font-family: 'Noticia Text', serif;
  }



.black-bk {
    background-color: black;
    color: white;
}

.red-bk {
    background-color: #e30613;
    color: white;
}

.grey-bk {
    background-color: #505050;
    color: white;
}

.grey-bk-light {
    background-color: #f4f4f4;
}

.light-grey-bk {
    color: black;
}

.medium-grey-bk {
    background-color: #fff;
    color: black;
}

@media (min-width: 1500px) {
    .container {
        max-width: 1350px;
    }
  }

  .small-text {
      font-size: 90%;
  }

  .grey-text {
      color: #909090
  }

  a.white {
      color: white;
  }

  .red-text {
      color: #ff4b4b;
  }

  a.red-text {
    color: #ff4b4b;
}

a.black-text {
    color: #000;
}

  .green-text {
      color: #0dd80d;
  }

  a.green-text {
    color: #0dd80d;
}

  .white-text {
        color: white;
  }

a.white-text {
    color: white;
}

a.white-text:hover {
    color: white;
    text-decoration: underline;
} 

.btn-lg {
    min-width: 200px;;
}




.bg-white {
    background-color: white;
}

@media (max-width: 768px) {
    .hidden-mobile {
        display: none!important;
    }

    .mobile-text-center {
        text-align: center;
    }
}

@media (min-width: 768px) {
    .hidden-desktop {
        display: none!important;
    }

}

.form-control {
    border: 1px solid #232323;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #1d2023;
}




a.article, a.article:hover {
    background: #ff4b4b !important;
    color: #fff !important;
}


#sidebar ul li.active>a, a[aria-expanded="true"] {
    color: #fff;
    background: #ff4b4b;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid rgba(0,0,0,0.7);
}

.thick-line {
    margin-top: 1.5rem;
    border: 2px solid rgba(0,0,0,0.7);
}

.thin-line {
    margin-top: 0.2rem;
    border: 1px solid rgba(0,0,0,0.7);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #ff4b4bbd;
}

#fp-hd {
    height: 50vh;
    
}

#fp-hd-text {
    height: 50vh;
    z-index: 1;
}

@media (min-width: 768px) {

    .marginSpecial {
        margin-top: 2rem;
        margin-left: 8rem;
    }
    .p-4-dk {
        padding: 1.5rem;
    }

}

@media (max-width: 768px) {
    .display-4 {
        font-size: 2rem;
        font-weight: 300;
        line-height: 1.2;
    }

    h1 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1rem;
    }

}

hr.mobile-fp {
    margin-top: -0.2rem;
}

hr.red {

    border-top: 1.5px solid rgb(227, 6, 19);
}

.footer-social-icons {
    font-size: 5rem;
    padding-right: 2rem;
}

footer {
    background-color: rgb(15, 15, 15);
    color: #ffffff;
}

@media (min-width: 768px) {
    .big-desktop-margin {
        margin-top: 10rem;
    }

}

.black-bk-transparent {
    background-color: rgb(0, 0, 0, 0.8);
    color: white;
}


.callout {
    position: fixed;
    bottom: 35px;
    right: 20px;
    margin-left: 20px;
    max-width: 400px;
  }
  
  .callout-header {
    padding: 25px 15px;
    background-color: #e30613;
    color: white;
  }
  
  .callout-container {
    padding: 25px;
    background-color: black;
    color: rgb(250, 250, 250)
  }
  
  .closebtn {
    position: absolute;
    top: 5px;
    right: 15px;
    color: white;
    font-size: 30px;
    cursor: pointer;
  }
  
  .closebtn:hover {
    color: lightgrey;
  }
  
a.tiny-font {
    font-size: 80%;
    color: #696969
}

.round-borders-left {
    border-top-left-radius: 6rem;
    border-bottom-left-radius: 6rem;
    border: white;
}

.round-borders-right {
    border-top-right-radius: 6rem;
    border-bottom-right-radius:6rem;
    border: white;
}


.circle{
    width:40px;
    height:40px;
    border-radius:20px;
    background:#e30613;
}

.round-borders {
    border-radius: 6rem;
    border: white;
}

.rounded-borders-square {
    border-radius: 2rem;
    border: white;
}



.btn-bywire {
    color: #fff;
    background-color: rgba(227, 6, 19, 0.9);
    border-color: rgba(227, 6, 19, 0.9);
}


.btn-bywire:hover {
    color: #fff;
    background-color: rgb(207, 6, 19);
    border-color: rgb(207, 6, 19);
}

@media (min-width: 768px) {
    .btn-bywire {
        min-width: 151px;
    }
}

.socialcons {
    font-size: 2.5rem;
}

.socialcons-timeline {
    font-size: 2rem;
}

@media (min-width: 768px) {
    .desktop-text-right {
        text-align: right;
    }
    .desktop-margin-5 {
        margin-top: 3rem!important;
    }
}

@media (max-width: 768px) {
    .mobile-text-left {
        text-align: left;
    }
    .share-icons {
        font-size: 2rem;
    }
    .mobile-padding-3 {
        padding: 2rem!important;
    }
}

.article-body {
    font-size: 1.25rem;
    line-height: 170%;
}

@media (min-width: 768px) {
    .footer-margin-neg {
        margin-top: -15rem;
    }
}

.share-icons {
    color: #9e9e9e;
}

.notifications {
    margin-bottom: -4rem;
    margin-left: 2rem;
    color: #e30613;
}

.img-creds {
    color: #757575;
}

.timeline-desktop-margin {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.timeline-desktop-margin-author {
    margin-top: 5rem;
}

.btn-primary {
    color: #fff;
    background-color: #1b75d5;
    border-color: #007bff;
}

.btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show>.btn-info.dropdown-toggle {
    color: #fff;
    background-color: #0f606d;
    border-color: #10707f;
}

.btn-bywire-clear {
    color: rgba(227, 6, 19, 0.9);
    background-color: rgba(255, 255, 255, 0.9);
    border-color: rgba(227, 6, 19, 0.9);
}

.btn-bywire-clear:hover {
        color: #fff;
        background-color: rgba(227, 6, 19, 0.9);
        border-color: rgba(227, 6, 19, 0.9);
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 700px;
        margin: 1.75rem auto;
    }
}

.modal-header {
    background-color: black;
    color: white;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #5c5c5c;
}

a.no-underline:hover {
    text-decoration: none!important;
}

.btn-default {
    background-color: grey;
    color: white;
}

.btn-default:hover {
    background-color: rgb(87, 86, 86);
    color: white;
}

.btn {
    border-radius: 0;
}

.account-page-news-items {
    border: 1px solid #cccccc;
    padding: 0.5rem;
    background-color: #f2f2f2;
}

.comments-bk {
    background-color: #dedede;
    box-shadow: 0 5px 15px 0px rgba(43, 43, 43, 0.3);
    background-clip: padding-box;
    outline: none;

}

.bigger-font {
    font-size: larger;
}

.tooltip-inner {
    max-width: 200px;
    padding: 4px 9px;
    font-weight: 600;
    color: #000;
    text-align: center;
    background-color: #fff;
    border-radius: .25rem;
}




.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
    }
    .btn-facebook:hover {
    color: #fff;
    background-color: #1f3052;
    border-color: rgba(0,0,0,0.2);
    }
    .btn-google {
    color: #fff;
    background-color: #dd4b39;
    border-color: rgba(0,0,0,0.2);
    }
    .btn-google:hover {
    color: #fff;
    background-color: #ac4033;
    border-color: rgba(0,0,0,0.2);
    }
    .btn-social {
    position: relative;
    padding-left: 20px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }

.btn {
    text-transform: uppercase;
    }

    .not-registered {
        font-size: 1.3rem;
    }